.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.body{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.name-header{
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  padding-top: 20vh;
  font-weight: 700;
  color:rgb(61, 192, 176);
}

.main-grid{
  margin-top: 100px;
  z-index: 1;
}

.icons{
  font-size: 72px;
  margin-left: 10px;
  margin-right: 10px;

}

.icon-grid{
  margin-top: 8vh;
}

br{
  line-height: 250%;
}

.arrow-grid{
  /*padding-top: 20vh;*/
  /*padding-bottom: 2vh;*/
  height: 40vh;
}

.arrow-grid-row{
  margin-top: 4vh;
}